@media (max-width: 576px) {
  .header {
    margin-top: 20px;
    margin-right: 31px;
    margin-left: 31px;
    margin-bottom: 38px;
  }
  .upper-gradient {
    padding-bottom: 75px;
  }
  .preview {
    flex-direction: column-reverse;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .avatar {
    width: 220px;
    height: 220px;
    margin: 0;
    margin-bottom: 17px;
  }
  .preview .text .subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
  }
  .preview .text .name {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .preview .text .descr {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
  }
  /* main */
  .section {
    padding-top: 63px;
    padding-bottom: 47px;
  }
  .section-title {
    text-align: center;
    margin-bottom: 60px;
  }
  /* features */
  .features-block {
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
  }
  .feature {
    margin-bottom: 35px;
  }
  /* recent projects */
  .project-slide {
    flex-direction: column;
    align-items: center;
  }
  .project-image {
    width: 280px;
    height: 224px;
  }
  .project-text {
    margin-top: 46px;
    margin-left: 31px;
    margin-right: 31px;
    flex-direction: column;
  }
  .project-title {
    margin-right: 0;
  }
  .project-subblock {
    margin-bottom: 44px;
  }
  .project-subblock-text {
    margin-right: 0;
  }
  .projects-pagination {
    margin-top: 27px;
  }
  /* contacts */
  .contacts-form {
    padding: 40px 15px 47px 15px;
  }
  .form-button {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  .contacts-block {
    display: block;
    margin-left: 32px;
    margin-right: 32px;
  }
  .contacts-text {
    align-items: left;
  }
  .contacts-data {
    display: block;
    margin-top: 58px;
  }
  .contacts-title {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts-link {
    font-size: 14px;
    line-height: 16px;
  }
  .contacts-social {
    margin-bottom: 53px;
  }
  .contacts-policy {
    margin-top: 27px;
    margin-bottom: 50px;
  }
}
